@import '_vars';
@import '_global';
@import '_fonts';

.header__inner-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header__top{

 
    &-text{
        margin-left: auto;
        margin-right: 25px;

        span{
            color: $red;
        }
    }

    &-btn{
        color: #fff;
        text-align: center;
        padding: 4px;
        width: 72px;
        border-radius: 4px;
        font-size: 12px;
        &-login{
            background-color: $green;
        }

        &-register{
            margin-right: 7px;
            background-color: $red;
        }
    }

    &-user{
        margin-right: 25px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        .user__img{
            border-radius: 50%;
            margin-right: 15px;

        }
        .user__info{
            font-size: 14px;
            padding-right: 25px;
            position: relative;
            line-height: 20px;
            &::after{
                content: '\f107';
                right: 0;
                position: absolute;
                font-family: 'icomoon';
                top: 0;
                font-size: 16px;
            }
        }

        .user__name{
            @include f500;
            color: #222222;
            margin-bottom: 5px;
            display: block;
        }
        .user__cash{
            color: $green;
            @include f700;
            display: block;
        }
    }
}

.header__top-circles{
    display: flex;
    justify-content: space-between;
    .circle{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #f5f5f5;
        text-align: center;
        line-height: 34px;
        position: relative;
        span{
            position: absolute;
            text-align: center;
            line-height: 18px;
            color: #fff;
            font-size: 11px;
            right: -5px;
            top: -8px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: red;
        }
    }

    .circle__box + .circle__box{
        margin-left: 15px;    
    }

    .circle__box:last-child{
        margin-right: 20px;
    }

    .notification,
    .message,
    .basket{
        &::before{
            color: #a0a0a0;
        }
    }
    .notification{
        span{
            background-color: $yellow;
        }
    }
    .message{
        span{
            background-color: $tomato;
        }
    }
    .basket{
        span{
            background-color: $green;
        }
    }
}

.user__box{
    position: relative;
    height: 66px;
    margin-top: 25px;
}

.user__menu{
    height: 0;
    overflow: hidden;
    border: 0px solid #d5d5d5;
    padding: 0 23px;
    position: absolute;
    width: 160px;
    background-color: #fff;
    top: 65px;
    a{
        font-size: 12px;
        margin-bottom: 12px;
        line-height: 17px;
        padding-left: 17px;
    }
    transition: all .3s;
}

.user__box:hover{
    .user__menu{
        padding: 23px;
        height: auto;
        overflow: auto;
        border-width: 1px;
    }
}

.circle__box{
    position: relative;
    height: 66px;
    margin-top: 25px;
}

.circle__box:hover{
    .circle__menu{
        border-width: 1px;
        height: auto;
        overflow: auto;
        .circle__item{
            padding: 18px 23px;
        }
    }
}

.circle__menu{
    position: absolute;
    width: 270px;
    border: 0px solid #e0e0e0;
    height: 0;
    overflow: hidden;
    top: 65px;
    background-color: #fff;
}

.circle__item{
    transition: all .3s;
    align-items: center;
    display: flex;
    padding: 0px 23px;
    border-bottom: 1px solid #e0e0e0;
    .circle__img{
        margin-right: 20px;
        img{
            border-radius: 50%;
        }
    }
    .circle__info{
        line-height: 18px;
        position: relative;
        width: 100%;
        padding-right: 25px;
        &::before{
            font-size: 16px;
            color: #b0bec5;
            position: absolute;
            right: 0;
        }
       
    }
    .circle__icon--color::before{
        color: $tomato;
    }
    .circle__name{
        @include f700;
        color: $blue;
        font-size: 12px;
    }
    .circle__theme{
        color: $green;
        font-size: 11px;
    }
    .cicrle__date{
        color: #707070;
        font-size: 10px;
    }
}

.basket__menu{
    right: -15px;
    .circle__item{
         .circle__img{
            margin-right: 20px;
            img{
                border-radius: 0%;
            }
        }
        .circle__info{
            line-height: 24px;
        }
        .circle__name{
            @include f700;
            font-size: 15px;
        }
        .circle__theme{
            font-size: 12px;
        }
        .circle__price{
            font-size: 16px;
            @include f500;
            color: #000;
        }
    }
    .circle__info-block{
        padding: 15px 23px;
    }
    .circle__title{
        display: flex;
        justify-content: space-between;
        color: $blue;
        font-size: 16px;
        @include f700;
    }
    .circle__btn{
        margin-top: 18px;
        display: flex;
        text-align: center;
        a{
            color: #fff;
            padding: 10px;
            background-color: $green;
            font-size: 14px;
            @include f700;
        }
        .circle__btn-checkout{
            background-color: $tomato;
            width: 110px;
            margin-left: 5px;
        }
    }
}



.header__menu{
    background-color: $blue;
}

.menu{
    height: 60px;
    display: flex;
    align-items: center;
}

.menu-list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    a{
        color: #fff;
        font-family: 'Roboro Medium',sans-serif;
        font-size: 14px;
    }

    }
}

.search{
    padding: 100px 0;
    min-height: 533px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.page-content{
        min-height: 230px;
        .search__inner{
            padding: 60px 0px 70px;
            &-text{
                margin-bottom: 25px;
            }
            &-form{
                margin-bottom: 0px;
            }
        }
        padding: 0px;
    }
}

.search__inner {
    color: #fff;
    text-align: center;

    &-title{
        margin-top: 80px;
        font-size: 48px;
        margin-bottom: 10px;
        @include f700;
        line-height: 72px;
    }

    &-text{
        font-size: 20px;
        margin-bottom: 40px;
        @include f500;
        line-height: 30px;
    }

    &-form{
        max-width: 670px;
        margin: 0 auto; 
        position: relative;
        margin-bottom: 70px;
        input{
            box-sizing: border-box;
            display: block;
            width: 100%;
            padding-left:  23px;
            padding-right: 60px;
            border-radius: 4px;
            border: none;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            height: 56px;
            @include f500;
            font-size: 14px;
            &::placeholder{
                color: $placeholder;
                font-size: 14px;
                @include f500;
            }
         }
    }

    button{
        position: absolute;
        top: 16px;
        right: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
    }
}

.products{
    padding: 110px 0;
    background-color: $bg-grey;
}

.products__inner{

    &-btn{
        text-align: center;
        margin-bottom: 60px;

        button{
            padding: 12px 20px;
            background-color: #fff;
            cursor: pointer;
            font-size: 14px;
            border: none;
            outline: none;

            & + button{
                margin-left: 5px;
            }
        }
    }

    &-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.products__item{
    max-width: 450px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-content{
        background-color: #fff;
        min-height: 90px;
        padding: 10px 30px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        @include f700;
        border-bottom: 1px solid #d9e0e3;
    }

    &-name{
        font-size: 18px;
        color: $blue;
        display: block;
    }

    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }

    &-price{
        font-size: 20px;
        color: $blue;
    }

    &-info{
        min-height: 70px;
        padding: 10px 30px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-author{
        align-items: center;
        display: flex;
        .avatar{
            display: inline-block;
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 15px;
        }

        span{
            font-size: 14px;
            @include f500;
            color: $grey;
        }
       
    }

    &-star{
        color: $blue;
    }
}

.products__inner-botbtn{
    text-align: center;

    button{
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        margin-top: 70px;
        margin-right: 15px;
        padding: 20px 30px;
        border: none;
        cursor: pointer;
        background-color: #fff;
        outline: none;
    }
}

button.mixitup-control-active{
    background-color: $red;
}

.products-slider{
    padding: 110px 0px 100px;

}

.advantages{
    padding: 110px 0;
    background-color: $blue;
    &__title{
        color: #fff;
    }
}

.advantages__inner{
    display: flex;
    justify-content: space-between;
}

.advantages__item{
    max-width: 370px;
    width: 100%;
    text-align: center;
    padding: 0px 30px;
    &:hover{
        .advantages__item-img{
            background-color: $green;
            g{
                fill: #fff;
            }
        }

        .advantages__item-title{
            color: $green;
        }
    }
    &-img{
        width: 115px;
        height: 115px;
        background-color: #fff;
        border-radius: 50%;
        margin: 45px auto 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }

    &-title{
        font-size: 24px;
        color: #fff;
        @include f500;
        margin-bottom: 30px;
        transition: all .5s;
    }

    &-text{
        font-size: 15px;
        line-height: 24px;
        color: b0bec5;
    }
}

.iconsvg-1{
    svg{
        width: 52px;
    }
}

.iconsvg-2{
    svg{
        width: 73px;
    }
}

.iconsvg-3{
    svg{
        width: 86px;
    }
}

.author{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 655px;
        min-height: 215px;
        width: 100%;
        background-color: $green;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        &-text{
            max-width: 266px;
            font-size: 30px;
            line-height: 36px;
            span{
            @include f700;
            }
        }

        a{
            padding: 13px 40px;
            font-size: 18px;
            line-height: 36px;
            background-color: #fff;
            color: $blue;
        }
    }
}

.tutorial{
    padding: 75px 0px 125px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }

}

.tutorial__item{
    max-width: 370px;
    width: 100%;
    &-img{
        min-height: 268px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-name{
        @include f700;
        padding: 40px 10px;
        background-color: #f8f8f8;
        font-size: 24px;
        text-align: center;
        color: #000;
    }
}

.footer{
    background-color: $blue;
    &__inner{
        padding: 110px 0px 100px;
        display: flex;
        justify-content: space-between;

    }
}

.footer__col{
    width: 100%;
    max-width: 270px;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        color: #fff;
        padding-bottom: 23px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 2px;
            bottom: 0;
            background-color: $green;
            height: 2px;
            width: 50px;
        }
    }
    &-text{
        font-size: 15px;
        color: #b7c3c8;
        margin-bottom: 30px;
    }

    &-info{
        @include f500;
        margin-top: 17px;
        color: #fff;
        padding-left: 30px;
        position: relative;
        &::before{
            content: "\f041";
            font-family: 'icomoon' !important;
            color: $green;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 18px;
        }
        &-phone::before{
            content: "\f095";
        }
    }
}

.footer__col-list{ 
    a{
        font-size: 15px;
        color: #b7c3c8;
        margin-bottom: 15px;
        padding-left: 22px;
        position: relative;
        &::before{
            content: "\f105";
            font-family: 'icomoon';
            left: 0;
            top: 0;
            font-size: 18px;
            color: $green;
            position: absolute;
        }
    }
}

.footer__col-links{
    li{
        display: inline-block;
    }
    margin-top: 65px;
    margin-bottom: 40px;
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/footer/css_sprites.png);
        & + a{
            margin-left: 7px;
        }
    }
}

.link-twitter {
    background-position: -28px -0;
}
.link-youtube {
    background-position: -0 -28px;
}
.link-pinterest {
    background-position: -28px -28px;
}
.link-in {
    background-position: -56px -0;
}

.footer__col-box{
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

.footer__col-form{
    position: relative;
    input{
        display: block;
        background-color: #2f3c43;
        color: #fff;
        height: 40px;
        padding: 0px 50px 0 15px;
        border: none;
       
        &::placeholder{
            color: #697378;
        }
    }
    button{
        width: 44px;
        height: 40px;
        background-color: $green;
        position: absolute;
        border: none;
        bottom: 0;
        right: 0;
        &::after{
            content: "\f124";
            font-family: 'icomoon';
            font-size: 20px;
            top: 8px;
            right: 13px;
            position: absolute;
            color: #fff;
        }
    }
}


.footer__copy{
    border-top: 1px solid #424d53;
    &-text{
        padding: 25px 0;
        font-size: 15px;
        color: #919699;
        text-align: center;
    }
}


.breadcrumbs{
    &__inner{
        padding: 40px 0px;
        display: flex;
    }
    &__list{
        li{
            display: inline-block;
            position: relative;
            & + li{
                padding-left: 23px;
                &::before{
                    content: '-';
                    color: $green;
                    position: absolute;
                    left: 8px;
                }
            }
            &:last-child{
                a,
                span{
                    color: $blue;
                }
            }
        }
        a{
            color: #b0bec5;
        }
    }
}

.product-page{
    &__inner{
        display: flex;
    }
    &__aside{
        margin-right: 30px;

    }
}

.aside{
    &__item{
        box-sizing: border-box;
        width: 270px;
        padding: 0px 33px 30px;
        margin-bottom: 30px;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        &-title{
            font-size: 20px;
            color: $blue;
            @include f700;
            padding: 25px 0px 20px;
            border-bottom: 1px solid #dde3e8;
        }
    }
}

.categories-list{
    padding-top: 10px;
    li{
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        position: relative;
        &::before{
            content: "\f105";
            font-family: 'icomoon';
            left: 0;
            top: 8px;
            font-size: 18px;
            color: #8bc34a;
            position: absolute;
        }
    }
    a{
        color: $blue;
        font-size: 15px;
    }
    span{
        color: #90a4ae;
    }
}

.irs--flat .irs-line{
    height: 5px;
    background-color: #f2f5f8;
}

.irs--flat .irs-bar{
    height: 5px;
    background-color: #37474f;
}
  
.irs-from, .irs-single, .irs-to{
    top: 35px;
}

.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before,
.irs--flat .irs-max, .irs--flat .irs-min,
.irs--flat .irs-handle>i:first-child{
    display: none;
}

.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    border-radius: 50%;
    top: 19px;
    background-color: #fff;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
    color: #78909c;
}

.price-range{
    form{
        padding-top: 35px;
    }
    button{
        margin-top: 55px;
        display: block;
        width: 100%;
        background-color: $green;
        border: none;
        position: relative;
        padding: 15px 10px;
        color: #fff;
        cursor: pointer;
        @include f500;
        &::after{
            content: "\f002";
            font-family: 'icomoon';
            left: 55px;
            top: 13px;
            font-size: 15px;
            color: #fff;
            position: absolute;
        }
    }
}

.top-sellers__items{
    .products__item{
        box-shadow: none;
        padding-bottom: 27px;
        margin-bottom: 27px;
        border-bottom: 1px solid #dde3e8;  
        &:last-child{
        border: none;
        margin-bottom: 0;
        }
        &:first-child{
            margin-top: 30px;
        }
    }

 
    .products__item-img{
        min-height: 120px;

    }
    .products__item-content{
        border: none;
        padding: 0;
        min-height: 75px;

    }
    .products__item-info{
        padding: 0;
    }
    .products__item-name{
        font-size: 16px;
    }
    .products__item-price{
        font-size: 16px;
    }
    .products__item-star-text{
        display: none;
    }
    .stars{
        margin-right: 0;
    }
    .products__item-author .avatar{
        margin-right: 8px;
    }
    .products__item-info{
        min-height: 0;
    }
}

.top-sellers__link{
    display: block;
    background-color: $green;
    padding: 15px 10px;
    color: #fff;
    text-align: center;
    @include f500;
}

.product-page__content{
    width: 100%;
}

.product-page__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 60px;
    border: 1px solid #dfdfdf;
    padding: 0px 23px;
    margin-bottom: 30px;
    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: #707070;
        font-size: 16px;
        &.active{
            color: $green;
        }
    }
    &-sort{
        display: flex;

    }
   
}

.icon-sort-amount-desc{
    font-size: 14px;
}

.icon-unsorted{
    font-size: 18px;
}

.product-page__content{
    .product-page__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .products__item{
        width: 270px;

    }
    .products__item-img{
        min-height: 180px;
    }
    .products__item-name{
        font-size: 14px;
    }
    .products__item-content{
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .products__item-info{
        min-height: 66px;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .products__item-star{
        span{
            font-size: 12px;
            @include f700
        }
    }
    .stars{
        margin: 0;
    }
    .products__item-author .avatar{
        margin-right: 8px;
    }
}

.pagination-list{
    li{
        display: inline-block;
        & + li{
            margin-left: 8px;
        }
    }
    a,
    span{
        background-color: #fff;
        width: 43px;
        height: 38px;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active{
            background-color: $red;
            color: #fff;
        }
    }
}

  